.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 20px;
  margin: 0;
  min-width: 700px;
  gap: 12px;
  border-radius: 8px;
  background-color: lightskyblue;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px -15px 20px -5px;
}
