.item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 4px 4px 10px #c6cccced;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px -15px 20px -5px;
  border-radius: 8px;
  width: calc(100% / 2 - 40px);
  gap: 10px;
  /* max-width: 520px; */
}

.box {
  display: flex;
  flex-direction: column;
}

.str {
  display: flexbox;
  flex-direction: row;
  gap: 10px;
}

.icon {
  fill: #524a4d;
}

.name,
.number {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 15px;
  color: #524a4d;
}
